@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: linear-gradient(179deg, rgba(0, 0, 0, 1) 9.2%, rgba(127, 16, 16, 0.799) 103.9%);
  background-repeat:no-repeat;
}
.video-container {
  position: relative;
  width: 80%;
  margin-top: 50px;
  padding-bottom: 50%; 
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 905px) {
  .inputs-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .responsive-img {
    max-width: 400px;
  }
}
@media screen and (max-width: 590px) {
	.zoom-out {
		zoom: 0.7; 
	}
  .video-container {
    width: 90%;
    margin-top: 20%;
    padding-bottom: 90%; 
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.video-container {
  animation: slideFromRight 1s ease forwards; 
}


